.container {
    position: relative;
    background-color: #70a3dae2;
    width: 1200px;
    margin: -40px auto 0;
    padding: 80px;
    border-radius: 8px;
  }

.container2 {
    background-color: aliceblue;
    height: 130vh;
    padding: 30px;
  }
  

  
  
  @media (max-width: 920px) {
    .container {
      width: calc(100% - 80px);
    }
  }
  
  @media (max-width: 640px) {
    .container {
      width: calc(100% - 32px);
      padding: 40px 16px;
    }
  }