/* page.module.css */
.container {
    background-color: aliceblue;
    height: 130vh;
    padding: 30px;
  }
  
  @media (max-width: 640px) {
    .container {
        background-color: aliceblue;
        height: 70vh;
        padding: 30px;
    }
  }