.container {
    background-color: aliceblue;
    height: 100vh;
    padding: 30px;
}

@media (max-width: 640px) {
    .container {
        background-color: aliceblue;
        height: 70vh;
        padding: 30px;
    }
 }

